mkdocs
mkdocs-bibtex
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-literate-nav
mkdocs-macros-plugin
mkdocs-material
mkdocs-material[imaging]
mkdocs-section-index
pymdown-extensions
mkdocs-ezglossary-plugin @ git+https://github.com/realtimeprojects/mkdocs-ezglossary@main
mkdocs-section-index
mkdocs-autorefs
mkdocs-glightbox
mike
pre-commit
python-Levenshtein
fuzzywuzzy
./hooks
