mkdocs
mkdocs-bibtex
mkdocs-blog-plugin
mkdocs-ezglossary-plugin
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-literate-nav
mkdocs-macros-plugin
mkdocs-material
mkdocs-material[imaging]
mkdocs-pdf-export-plugin
mkdocs-section-index
pymdown-extensions
mkdocs-ezglossary-plugin @ git+https://github.com/realtimeprojects/mkdocs-ezglossary@main
mkdocs-literate-nav
mkdocs-section-index
mkdocs-autorefs
mike
pre-commit
mkdocs-bibtex
python-Levenshtein
fuzzywuzzy