<div class="md-copyright">
  {% if config.copyright %}
    <div class="md-copyright__highlight">
      {{ config.copyright }} - Last updated: {{ build_date_utc.strftime('%B %d, %Y at %I:%M %p %Z') }}
    </div>
  {% endif %}
   <br/>
   <strong>Anoma Official Resources:</strong>
   <small> <a href="https://anoma.net/" target="_blank">Website</a> | <a href="https://art.anoma.net" target="_blank">Research</a> | <a href="https://anoma.net/blog" target="_blank">Blog</a> | <a href="https://anoma.net/talks" target="_blank">Talks</a> </small>
   <br/>
   <strong>For Specification Authors:</strong>
   <small> <a href="{{ site_url }}/indexes/links.html">Quick links</a> | <a
   href="{{ site_url }}/indexes/juvix_modules.html">Juvix modules</a> | <a
   href="{{ site_url }}/tutorial/index.html">Guides</a> | 
    <a href="{{ site_url }}/tutorial/engines/index.html">On engines in Anoma</a> </small>
</div>
