<div class="md-copyright">
  {% if config.copyright %}
  <div class="md-copyright__highlight">
    {{ config.copyright }} - Last updated: {{ build_date_utc.strftime('%B %d, %Y at %I:%M %p %Z') }}
  </div>
  {% endif %}

  <ul>
    <li><a href="https://anoma.net/" target="_blank">Anoma website</a> </li>
    <li><a href="https://anoma.net/blog" target="_blank">Anoma Blog</a></li>
    <li><a href="https://anoma.net/talks" target="_blank">Anoma Talks</a></li>
  </ul>
  <ul>
    <span class="md-copyright__highlight">Extra resources for Anoma
      Specification collaborators</span>
    <li><a href="indexes/links.html">Quick links</a></li>
    <li><a href="indexes/juvix_modules.html">Juvix modules in the Anoma
        Specification</a></li>
    <li><a href="tutorial/index.html">Markdown tutorials for writing Anoma
        Specification</a></li>
    <li><a href="tutorial/engines/index.html">On engines in Anoma</a></li>
  </ul>
</div>
